header {
	padding: $padding-large-vertical 0;
	.language-switcher {
		float: right;
		> a {
			//padding: $padding-small-vertical $padding-small-horizontal;
			font-size: 14px;
			border: none;
			text-decoration: none;
			@extend .btn;
			@extend .btn-sm;
			&.current {
				//background-color: $main-color;
				//color: $main-color-text;
				//border-radius: ($border-radius-small)
				@extend .btn-primary;
			}
		}
	}
}

/* General  */
.container {
	width: auto;
	max-width: 680px;
	padding: 0 15px;
}

/* Content  */
.brand-content {
	.container {
		margin-bottom: 50px;
		padding-bottom: 50px;		
		border-bottom: 1px  dotted $main-color;
		text-align: center;
		.logo {
			display: inline-block;
			max-width: 250px;
			text-align: center;
			> img {
				width: 100%;
			}
		}
	}
}

footer {
	.text-muted {
		margin-top: 17px;
	}
}


/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}
/* Custom page CSS
-------------------------------------------------- */

